## Joining

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.DataFrame({'col1':[1,4,7],'col2':[2,5,8]})
df1

   col1  col2
0     1     2
1     4     5
2     7     8

In [6]:
df2=pd.DataFrame({'col3':[1,4,7],'col4':[2,5,9]},index=[0,1,3])
df2

   col3  col4
0     1     2
1     4     5
3     7     9

In [7]:
df1.join(df2)

   col1  col2  col3  col4
0     1     2   1.0   2.0
1     4     5   4.0   5.0
2     7     8   NaN   NaN

In [8]:
df1.join(df2,how="left")

   col1  col2  col3  col4
0     1     2   1.0   2.0
1     4     5   4.0   5.0
2     7     8   NaN   NaN

In [11]:
df3=df1.join(df2,how="right")

In [10]:
np.nan

nan

In [12]:
type(df3.col1.values[2])

numpy.float64

In [13]:
df1.join(df2,how="outer")

   col1  col2  col3  col4
0   1.0   2.0   1.0   2.0
1   4.0   5.0   4.0   5.0
2   7.0   8.0   NaN   NaN
3   NaN   NaN   7.0   9.0

## File Input and Outputs

# CSV files